<h1>Welcome to Shake Race</h1>
<div class="lead">{{title}}</div>

<div class='col-md-12 well'>
 <div ng-repeat='player in players'>
    <div class='row'>
      <div>{{ player.name }}</div><div style='width: {{ player.score }}%; background-color: red; height: 55px'><img ng-src="{{ player.image }}">
<!-- style="margin-left: {{player.score}}%" -->
      </div>
    </div>
  </div>
</div>

<div class='row' ng-hide='winner == undefined'>
  <h1>Game over!  Winner is {{ winner }}</h1>
</div>
<button class="btn btn-default" ng-click="activateSocket()">Start game</button>
<button class="btn btn-default" ng-click="deactivateSocket()">End game</button>
  
